:root {
  --purple: #574ae8;
  --white-two: #f9f9f9;
  --gradient: linear-gradient(90deg, rgba(87,74,232,1) 0%, rgba(62,161,219,1) 100%);
  --gray: #717171;
  --dark-gray: #1a202c;
  --font-inter: font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--white-two);
  font-family: 'Lexend Deca', sans-serif;
}